table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    width: 75%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #E5E5E5;
}
