.connection-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.connection-title h4 {
    font-size: 45px;
    /*! color: black; */
    text-align: center;
}

.panel-frame {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    background-color: #78909C;
    padding: 2.5em;
}

.l-r {
    background: #e0e0e0;
    /*! margin: 56px; */
    /**margin-top: 130px;**/
}

.container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    width: inherit;
    height: inherit;
    display: flex;
}

.l-r .login {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2em 0;
}

.l-r .register {
    padding-right: 40px;
}

.l-r input {
    background: #fff;
    height: 39px;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    box-shadow: none;
    color: #959595;
    font-size: 12px;
    width: 100%;
    float: left;
    margin-top: 30px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn {
    padding: 15px 0px 15px 0px;
}

.l-r input.l-btn {
    display: block;
    width: 150px;
    height: 37px;
    font-size: 14px;
    color: #fff;
    text-shadow: 2px 3px 5px rgba(0,0,0,.55);
    background-color: #78909C;
    line-height: 2.5;
    transition: .3s;
}

.r-txt a {
    color: #4b636e;
}

.login h3 {
    margin-top: 0 !important;
}