/**-CSS file for the header **/

header {
    background-color: white;
    position: relative;
    min-height: 60px;
}

#tab-title
{
        padding : 0;

        font : bold 21px Batang, arial, serif;

        list-style-type : none;

        margin-top : 0;
    
        height: 60px;
    
}

#tab-title li
{
    float : left;

    height : 60px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */

    background-color: white;

}

#tab-title li.active
{
    /**border-bottom: 1px solid #fff;**/
    /**background-color: red;**/
}

#tab-title a
{
    display : block;

    color : black;

    text-decoration : none;

    padding : 4px;
}

#tab-title a:hover
{
    /**background-color: #6daeee;**/
    color : #78909c;
    border-top: 3px #78909c solid;
}

#tab
{
    float: right;
    
    padding-bottom : 25px;
}

#tab-title a.title {
    padding: 18px;
}

.connection-bar {
    height: 60px;
    display: block;
    float: right;
    color: #2286c3;
}

.connection-bar a.sign-in {
    background-color: #4b636e;
    border: double;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px;
    text-shadow: 2px 3px 5px rgba(0,0,0,.55);
}